body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: 0 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  word-wrap: break-word;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  word-wrap: break-word;
}

#headerWrapper .header-navigation-wrapper, #headerWrapper .header-navigation-wrapper .main-menu li, #headerWrapper .header-branding, #headerWrapper .header-branding IMG, #headerWrapper .site-title, #headerWrapper, #mobileMenuToggle, #contactToggle, #interfaceToggle {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

/**
 * Clearfix
 */
/* Establish the grid-container element.  */
/* Align an element to the grid. */
#headerWrapper .header-navigation-wrapper, #headerWrapper .header-navigation-wrapper .main-menu li, #headerWrapper .header-branding, #headerWrapper .header-branding IMG, #headerWrapper .site-title, #headerWrapper, #mobileMenuToggle, #contactToggle, #interfaceToggle {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 0;
  font-family: sans-serif;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

body.body-enter {
  opacity: 0;
}

body.body-enter-active {
  opacity: 1;
}

b, strong {
  font-weight: 700;
}

#interfaceToggle, #contactToggle {
  position: fixed;
  top: 0;
  clip: rect(0, 0, 0, 0);
  left: auto;
  top: 0;
  z-index: 0;
}

#windowContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  overflow: auto;
  z-index: 1;
  top: 0;
  left: 0;
}

#bodyWrapper {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 60px;
  z-index: 0;
  -webkit-transition: padding-top 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: padding-top 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  top: 0;
  left: 0;
}

#announcementBar {
  position: relative;
  height: auto;
}

#siteFooter {
  display: table-row;
  position: relative;
  height: 1px;
}

#footerWrapper {
  display: block;
  position: relative;
  width: 100%;
}

#footerWrapper .footer-links li {
  font-size: 90%;
}

#footerWrapper li {
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  margin-right: 20px;
}

#footerWrapper .content-wrap, #footerWrapper .content-wrap > div {
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.66667;
}

#footerWrapper footer {
  padding-top: 15px;
}

#footerWrapper .content-wrap > .footer-copyright, #footerWrapper .footer-copyright {
  display: block;
  padding-bottom: 30px;
  font-size: 1.4rem;
}

#headerWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

#headerWrapper .bg-wrapper {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  -webkit-transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
}

#headerWrapper .content-wrap {
  position: relative;
  z-index: 1;
}

.headerDrawerWrapper {
  position: relative;
  display: block;
  margin: 0px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  text-align: left;
}

.headerDrawerWrapper .widget {
  position: relative;
}

.headerDrawerWrapper .widget .widget-title {
  cursor: pointer;
}

.headerDrawerWrapper .wp-block-pullquote p {
  margin-bottom: 0px;
}

.lyt {
  display: inline-block;
  width: 100%;
}

.mgb, .txb, .cxb {
  display: inline-block;
}

.mgb {
  display: inline-block;
}

.txb {
  display: inline-block;
}

.cxb {
  display: inline-block;
}

/* Cover Modals ------------------------------ */
.cover-modal {
  display: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.cover-modal::-webkit-scrollbar {
  display: none !important;
}

.cover-modal.show-modal {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.cover-modal.show-modal > * {
  cursor: default;
}

/* header wrapper ------------------------------ */
#headerWrapper {
  overflow: visible;
  height: 60px;
}

#headerWrapper .content-wrap {
  position: relative;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

#headerWrapper .header-navigation-wrapper {
  top: 0%;
  position: absolute;
  left: 0;
  text-align: left;
  margin-left: -100%;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

#headerWrapper .header-navigation-wrapper .menu-container {
  width: 100%;
  position: relative;
  display: inline-block;
  height: 100%;
  overflow: auto;
}

#headerWrapper .header-navigation-wrapper .main-menu {
  display: inline-block;
  width: 100%;
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1;
}

#headerWrapper .header-navigation-wrapper .main-menu li {
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 20px;
  text-align: center;
}

#headerWrapper .header-navigation-wrapper .main-menu li a {
  padding: 5px 8px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

#headerWrapper .header-branding {
  display: inline-block;
  padding: 8px;
  padding-bottom: 13px;
}

#headerWrapper .header-branding IMG {
  height: 40px;
  width: auto;
}

#headerWrapper .site-title {
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
  line-height: 60px;
}

#headerWrapper .site-title a {
  color: inherit;
  text-decoration: none;
}

#headerWrapper .header-right {
  position: absolute;
  right: 0;
  text-align: right;
  top: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 20px;
}

#headerWrapper .header-right .user {
  display: inline-block;
  font-size: 0px;
  margin-left: 10px;
  cursor: pointer;
}

#headerWrapper .header-right .search-toggle-wrapper {
  display: inline-block;
  font-size: 0px;
}

#headerWrapper .header-right .search-toggle-wrapper button {
  padding: 10px;
}

#headerWrapper .header-right .cart-container {
  display: inline-block;
  padding-left: 10px;
}

#headerWrapper .header-right .cart-container a {
  display: inline-block;
  padding: 10px;
}

#mobileMenuToggle, #contactToggle, #interfaceToggle {
  position: absolute;
  left: 0px;
  top: 0px;
  right: auto;
  opacity: 1;
  display: inline-block;
  height: auto;
  z-index: 500;
  text-align: left;
  padding-left: 15px;
  padding-top: 20px;
  font-weight: 400;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  cursor: pointer;
}

#mobileMenuToggle span, #contactToggle span, #interfaceToggle span {
  display: inline-block;
}

#mobileMenuToggle .toggle-text, #mobileMenuToggle .toggle-text-active, #contactToggle .toggle-text, #contactToggle .toggle-text-active, #interfaceToggle .toggle-text, #interfaceToggle .toggle-text-active {
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: inherit;
  display: block;
  font-weight: 700;
}

#mobileMenuToggle .toggle-text-active, #contactToggle .toggle-text-active, #interfaceToggle .toggle-text-active {
  font-size: 0;
}

#mobileMenuToggle .toggle-icon, #contactToggle .toggle-icon, #interfaceToggle .toggle-icon {
  margin-left: 2px;
  opacity: 0.65;
}

#contactToggle:checked ~ #windowContainer .headerDrawerWrapper {
  max-height: 4000px;
}

#contactToggle:checked ~ #windowContainer #headerWrapper {
  height: 100%;
  overflow: auto;
}

#contactToggle:checked ~ #windowContainer #headerWrapper .bg-wrapper {
  opacity: 1;
}

#contactToggle:checked ~ #windowContainer #headerWrapper > .content-wrap {
  height: auto;
}

#interfaceToggle:checked ~ #windowContainer {
  overflow: hidden;
}

#interfaceToggle:checked ~ #windowContainer #headerWrapper {
  height: 100%;
}

#interfaceToggle:checked ~ #windowContainer #headerWrapper .header-navigation-wrapper {
  position: fixed;
  z-index: 100;
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

#interfaceToggle:checked ~ #windowContainer #mobileMenuToggle {
  width: 100%;
}

#interfaceToggle:checked ~ #windowContainer #mobileMenuToggle .toggle-text {
  font-size: 0;
}

#interfaceToggle:checked ~ #windowContainer #mobileMenuToggle .toggle-text-active {
  font-size: 1.2rem;
}

#interfaceToggle:checked ~ #windowContainer #mobileMenuToggle .toggle-inner:after {
  width: 100%;
  height: 100%;
  position: absolute;
}

.screen-reader-text, .sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.widget-content {
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.66667;
}

.widget-content .widget-title {
  font-weight: 700;
}

.widget {
  margin-bottom: 40px;
}

.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.content-wrap .lyt {
  padding: 0 20px;
}

.footer-widgets-wrapper .widget-content .widget-title {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.footer-widgets-wrapper .widget-content a {
  text-decoration: none;
}

.footer-nav-widgets-wrapper {
  padding-top: 40px;
}

.footer-nav-widgets-wrapper input[type=search] {
  border-width: 1px;
}

.footer-nav-widgets-wrapper .has-social-menu {
  padding-bottom: 20px;
}

.footer-nav-widgets-wrapper .has-social-menu svg {
  width: 40px;
  height: 40px;
}

.header-footer-group input[type="submit"] {
  color: inherit;
}

.post-content-list-container {
  position: relative;
}

.post-content-list-container .post-password-form {
  display: inline-block;
  max-width: 600px;
  padding: 80px;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.6;
}

.post-content-list-container .post-password-form input {
  font-size: 40px;
  font-weight: 700;
}

.post-content-list-container .post-password-form input[type=submit] {
  background-color: transparent;
  border-width: 0px;
  font-size: 7rem;
}

.post-content-list-container > form, .post-content-list-container > p {
  font-size: 1.8rem;
  line-height: 1.6;
}

.post-content-list-container form input, .post-content-list-container form textarea {
  border-width: 1px;
  padding: 4px;
}

.post-content-list-container form input[type=submit] {
  padding: 10px;
}

#site-content {
  position: relative;
}

#contentWrapper .woocommerce-wrapper, #contentWrapper .post-content-list-container .post-part-spacer .cxb {
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.66667;
}

#contentWrapper .woocommerce #payment #place_order {
  font-size: 2.4rem;
  text-transform: uppercase;
}

#contentWrapper.block-transitions-enabled .post-content-list-container {
  overflow: hidden;
}

#contentWrapper.block-transitions-enabled .bxTr {
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

#contentWrapper.block-transitions-enabled .bxTr.fadeInOut, #contentWrapper.block-transitions-enabled .bxTr.fadeInNoOut {
  -webkit-transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
}

#contentWrapper.block-transitions-enabled .bxTr.fadeInOut-enter-active, #contentWrapper.block-transitions-enabled .bxTr.fadeInNoOut-enter-active {
  opacity: 1;
}

#contentWrapper.block-transitions-enabled .bxTr.fadeInOut-leave-active, #contentWrapper.block-transitions-enabled .bxTr.fadeInNoOut-leave-active {
  opacity: 0;
}

#contentWrapper.block-transitions-enabled .bxTr.growInNoOut, #contentWrapper.block-transitions-enabled .bxTr.growInSmallOut {
  -webkit-transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
}

#contentWrapper.block-transitions-enabled .bxTr.growInNoOut-enter-active, #contentWrapper.block-transitions-enabled .bxTr.growInSmallOut-enter-active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#contentWrapper.block-transitions-enabled .bxTr.growInNoOut-leave-active, #contentWrapper.block-transitions-enabled .bxTr.growInSmallOut-leave-active {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

#contentWrapper.block-transitions-enabled .bxTr.linRout, #contentWrapper.block-transitions-enabled .bxTr.leftInNoOut {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#contentWrapper.block-transitions-enabled .bxTr.linRout-enter-active, #contentWrapper.block-transitions-enabled .bxTr.leftInNoOut-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#contentWrapper.block-transitions-enabled .bxTr.linRout-leave-active, #contentWrapper.block-transitions-enabled .bxTr.leftInNoOut-leave-active {
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#contentWrapper.block-transitions-enabled .bxTr.rightInOut, #contentWrapper.block-transitions-enabled .bxTr.rightInNoOut {
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
}

#contentWrapper.block-transitions-enabled .bxTr.rightInOut-enter-active, #contentWrapper.block-transitions-enabled .bxTr.rightInNoOut-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#contentWrapper.block-transitions-enabled .bxTr.rightInOut-leave-active, #contentWrapper.block-transitions-enabled .bxTr.rightInNoOut-leave-active {
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#contentWrapper.block-transitions-enabled .bxTr.dinUpOut, #contentWrapper.block-transitions-enabled .bxTr.downInNoOut {
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
}

#contentWrapper.block-transitions-enabled .bxTr.dinUpOut-enter-active, #contentWrapper.block-transitions-enabled .bxTr.downInNoOut-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#contentWrapper.block-transitions-enabled .bxTr.dinUpOut-leave-active, #contentWrapper.block-transitions-enabled .bxTr.downInNoOut-leave-active {
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

#contentWrapper.block-transitions-enabled .bxTr.upInOut, #contentWrapper.block-transitions-enabled .bxTr.upInNoOut {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

#contentWrapper.block-transitions-enabled .bxTr.upInOut-enter-active, #contentWrapper.block-transitions-enabled .bxTr.upInNoOut-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#contentWrapper.block-transitions-enabled .bxTr.upInOut-leave-active, #contentWrapper.block-transitions-enabled .bxTr.upInNoOut-leave-active {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

#contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.vp-center {
  position: relative;
  display: table;
  table-layout: fixed;
  min-height: 100%;
  vertical-align: middle;
}

#contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.vp-center .align-inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

#contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align .align-inner {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky {
  padding-top: 50px;
}

#contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky.vp-center {
  padding-top: 50px;
}

.admin-bar #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky.vp-center, .admin-bar #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky {
  padding-top: 106px;
}

.to-the-top {
  display: block;
  text-align: right;
}

.to-the-top .to-the-top-long {
  display: none;
}

.ratings-container {
  display: block;
  font-size: 0rem;
}

.ratings-container .rating-container-title {
  display: block;
}

.ratings-container .rating-container-title span {
  font-size: 2rem;
}

.ratings-container .ratings-list {
  display: block;
}

.ratings-container .ratings-list.selected-rating-1 .rating-item:nth-of-type(1) svg * {
  fill-opacity: 100;
}

.ratings-container .ratings-list.selected-rating-2 .rating-item:nth-of-type(1) svg *,
.ratings-container .ratings-list.selected-rating-2 .rating-item:nth-of-type(2) svg * {
  fill-opacity: 100;
}

.ratings-container .ratings-list.selected-rating-3 .rating-item:nth-of-type(1) svg *,
.ratings-container .ratings-list.selected-rating-3 .rating-item:nth-of-type(2) svg *,
.ratings-container .ratings-list.selected-rating-3 .rating-item:nth-of-type(3) svg * {
  fill-opacity: 100;
}

.ratings-container .ratings-list.selected-rating-4 .rating-item:nth-of-type(1) svg *,
.ratings-container .ratings-list.selected-rating-4 .rating-item:nth-of-type(2) svg *,
.ratings-container .ratings-list.selected-rating-4 .rating-item:nth-of-type(3) svg *,
.ratings-container .ratings-list.selected-rating-4 .rating-item:nth-of-type(4) svg * {
  fill-opacity: 100;
}

.ratings-container .ratings-list.selected-rating-5 .rating-item svg * {
  fill-opacity: 100;
}

.ratings-container .rating-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 25px;
  height: 25px;
}

.ratings-container .rating-item label {
  display: block;
  width: 100%;
  height: 100%;
}

.ratings-container .rating-item input {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.ratings-container .rating-item input:focus + span {
  outline: 1;
  outline: thin dotted;
}

.ratings-container .rating-item.no-rating {
  margin-left: 30px;
}

.ratings-container.minimal-display .rating-item {
  height: 25px;
  width: 25px;
}

.ratings-container.minimal-display .rating-item.leftover {
  text-align: left;
}

.ratings-container.minimal-display .rating-item.leftover > span {
  overflow: hidden;
  display: inline-block;
}

.ratings-container.minimal-display .rating-item svg * {
  fill-opacity: 100;
}

.ratings-container.minimal-display .rating-text-container {
  font-size: 2.3rem;
}

.ratings-container.minimal-display .rating-text-container .measure::before {
  content: " ";
  display: inline-block;
}

.ratings-container.interactive-rating .rating-item {
  margin-right: 10px;
}

.ratings-container.interactive-rating .rating-item svg, .ratings-container.interactive-rating .rating-item svg * {
  cursor: pointer;
}

#headerWrapper .header-navigation-wrapper, #headerWrapper .header-navigation-wrapper .main-menu li, #headerWrapper .header-branding, #headerWrapper .header-branding IMG, #headerWrapper .site-title, #headerWrapper, #mobileMenuToggle, #contactToggle, #interfaceToggle {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

/**
 * Clearfix
 */
/* Establish the grid-container element.  */
/* Align an element to the grid. */
#headerWrapper .header-navigation-wrapper, #headerWrapper .header-navigation-wrapper .main-menu li, #headerWrapper .header-branding, #headerWrapper .header-branding IMG, #headerWrapper .site-title, #headerWrapper, #mobileMenuToggle, #contactToggle, #interfaceToggle {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.masthead {
  position: relative;
  overflow: hidden;
  display: block;
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.masthead .featured-media-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.masthead .featured-media-inner .featured-media {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

.masthead .featured-media-inner .featured-media IMG {
  height: auto;
  position: absolute;
  top: 0;
  max-height: 200%;
  min-height: 100%;
  min-width: 100.5%;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.masthead .feature-overlay {
  position: relative;
  padding: 40px 0px;
  z-index: 1;
  color: #ffffff;
  display: table;
  min-height: 100%;
  width: 100%;
  overflow: auto;
}

.masthead .feature-overlay .content-position-normal, .masthead .feature-overlay .content-position-center {
  display: table-row;
  height: 100%;
}

.masthead .feature-overlay .content-position-bottom {
  display: table-row;
  height: 0%;
}

.masthead .feature-overlay .content-position-center .content-wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.masthead .feature-overlay .content-position-center .content-wrap .lyt {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
}

.masthead .feature-overlay .post-meta-wrapper .meta-wrapper {
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px #000000, 0px 0px 0px #444444;
}

.masthead .feature-overlay .post-meta-wrapper .meta-wrapper a {
  color: #ffffff;
  text-decoration: none;
}

.masthead .feature-overlay .post-meta-wrapper .meta-wrapper .meta-icon {
  display: none;
}

.masthead .entry-title {
  padding-bottom: 5px;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  font-size: 4.4rem;
  line-height: 1.13636;
  text-shadow: 1px 1px 1px #000000, 0px 0px 0px #444444;
  max-width: 85%;
}

.masthead .subtitle {
  text-shadow: 1px 1px 1px #000000, 0px 0px 0px #444444;
}

.masthead .lyt .entry-title {
  max-width: 100%;
}

.masthead .entry-categories {
  padding-bottom: 20px;
}

.masthead .entry-categories a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.09992rem;
  padding-left: 4px;
  padding-right: 4px;
}

.masthead .entry-categories a:hover {
  text-decoration: underline;
}

.masthead.fill-screen-width .featured-media-inner .featured-media {
  max-width: 100%;
  overflow: visible;
}

.schema-info {
  display: none;
  font-size: 0;
}

.entry-header {
  position: relative;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;
}

.entry-header .entry-title {
  padding: 20px;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 1.19048;
  padding-bottom: 20px;
  padding-top: 30px;
}

.entry-header .entry-title a {
  text-decoration: none;
}

.entry-header .entry-categories {
  padding: 20px;
  margin-bottom: 20px;
}

.entry-header .entry-categories a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.09992rem;
  padding-left: 4px;
  padding-right: 4px;
}

.entry-header .entry-categories a:hover {
  text-decoration: underline;
}

.entry-header .post-meta-wrapper {
  margin-bottom: 40px;
}

.post-content-list-container {
  position: relative;
  display: block;
  clear: both;
}

.post-content-list-container .post-inner {
  display: block;
  position: relative;
}

.post-content-list-container > form, .post-content-list-container > p {
  font-size: 1.8rem;
  margin: 0 auto;
  max-width: 1200px;
}

.post-content-list-container .panel-vertical-align {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.post-part {
  display: block;
  width: 100%;
  position: relative;
}

.post-part h2, .post-part h3, .post-part h4, .post-part h5, .post-part h6 {
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
  display: block;
  margin-bottom: 10px;
  color: inherit;
}

.post-part h2 {
  font-size: 5rem;
}

.post-part h3 {
  font-size: 4rem;
}

.post-part h4 {
  font-size: 3.2rem;
}

.post-part h5 {
  font-size: 2.8rem;
}

.post-part .post-part-block-background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.post-part .post-part-block-background IMG, .post-part .post-part-block-background VIDEO {
  height: auto;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.post-part .post-part-block-background figure {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.post-part .post-part-block-background.fill-screen-width figure {
  max-width: 100%;
}

.post-part.force-2col-mobile .content-wrap .lyt {
  width: 50%;
}

.post-part-container {
  display: inline-block;
  width: 100%;
  position: relative;
}

.post-part-container IMG {
  max-width: 100%;
  height: auto;
}

.post-part-container .post-part-block-content {
  position: relative;
  z-index: 10;
}

.post-part-container .post-part-block-content .txb {
  width: 100%;
}

.post-part-container .post-part-block-content.text-align-right {
  text-align: right;
}

.post-part-container .post-part-block-content.text-align-left {
  text-align: left;
}

.post-part-container .post-part-block-content.text-align-center {
  text-align: center;
}

.post-part-container .post-part-block-content .has-text-align-right {
  text-align: right;
}

.post-part-container .post-part-block-content .has-text-align-left {
  text-align: left;
}

.post-part-container .post-part-block-content .has-text-align-center {
  text-align: center;
}

.post-part-container .post-part-block-content .wp-block-gallery {
  display: inline-block;
}

.post-part-container .post-part-block-content .wp-block-gallery.alignright {
  float: right;
  margin-left: 15px;
  max-width: 45%;
}

.post-part-container .post-part-block-content .wp-block-gallery.alignleft {
  float: left;
  margin-right: 15px;
  max-width: 45%;
}

.post-part-container.section-part-cover .content-wrap, .post-part-container.section-part-cover .content-wrap > .lyt {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.post-part-container.section-part-cover .top-padd-content {
  height: 100%;
  display: table-row;
}

.post-part-container.section-part-cover .vertical-position-center, .post-part-container.section-part-cover .vertical-position-bottom {
  display: table-row;
  vertical-align: middle;
}

.post-part-container.section-part-cover .vertical-position-center .txb, .post-part-container.section-part-cover .vertical-position-bottom .txb {
  display: table-cell;
  vertical-align: middle;
}

.post-part-container.right-media .content-wrap > div:nth-child(2) {
  padding: 0px;
}

.post-part-container.left-media .content-wrap > div:first-child {
  padding: 0px;
}

.post-part-container.has-content .content-wrap > .lyt .cxb {
  width: 100%;
}

.post-part-container .content-wrap .lyt {
  vertical-align: middle;
  display: inline-block;
}

.post-part-container .post-part-media.video {
  padding: 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.post-part-container .post-part-media.video .mgb {
  display: inline-block;
}

.post-part-container .post-part-media.video .mgb video::cue {
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
  text-shadow: 1px 1px 0px #000000, 0px 0px 0px #444444;
  background: transparent;
}

.post-part-container .post-part-media.video .mgb video {
  max-width: 100% !important;
  height: auto;
  width: 100% !important;
  max-height: 500px;
  min-width: 320px;
}

.post-part-container .post-part-media.video .mgb figure {
  background-color: #000000;
}

.basic-part {
  position: relative;
}

.basic-part .post-part-block-content {
  padding: 40px 0px;
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.63636;
}

.basic-part .post-part-block-content p {
  margin-bottom: 20px;
}

.fullwidth-image-part {
  color: #ffffff;
}

.fullwidth-image-part h1, .fullwidth-image-part h2, .fullwidth-image-part h3, .fullwidth-image-part h4, .fullwidth-image-part h5, .fullwidth-image-part h6, .fullwidth-image-part cite {
  color: #ffffff;
}

.fullwidth-image-part cite {
  opacity: 0.8;
  font-size: 1.8rem;
}

.fullwidth-image-part .post-part-block-content {
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 1.11765;
  text-shadow: 1px 1px 0px #000000, 0px 0px 0px #444444;
  padding: 40px 0px;
}

.fullwidth-image-part .post-part-block-content.text-align-left {
  text-align: left;
}

.fullwidth-image-part .post-part-block-content.text-align-right {
  text-align: right;
}

.fullwidth-image-part .post-part-block-content.text-align-center {
  text-align: center;
}

.fullwidth-image-part .post-part-block-content .has-text-align-right {
  text-align: right;
}

.fullwidth-image-part .post-part-block-content .has-text-align-left {
  text-align: left;
}

.fullwidth-image-part .post-part-block-content .has-text-align-center {
  text-align: center;
}

.fullwidth-image-part .has-video.post-part-block-background {
  background-color: #000000;
}

.fullwidth-image-part .has-video video {
  opacity: 0.8;
}

.fullwidth-image-part .has-video.post-part-container {
  min-height: 320px;
}

.post-footer {
  margin-top: 40px;
  position: relative;
  display: block;
}

.post-footer .post-meta-edit-link-wrapper {
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4;
}

.post-footer .author-bio {
  padding: 20px 0px;
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4;
}

.post-meta-single-top {
  padding: 20px 0px;
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.44444;
}

.post-meta-single-top a {
  text-decoration: none;
  font-weight: 400;
}

.pagination-single {
  position: relative;
  display: block;
  clear: both;
}

.pagination-single a {
  text-decoration: none;
}

.pagination-single .previous-post, .pagination-single .next-post {
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.18182;
}

.single article.post {
  padding-bottom: 40px;
}

.post-list-archive {
  position: relative;
  padding-bottom: 40px;
}

.post-list-archive .post, .post-list-archive .type-page, .post-list-archive .hentry, .post-list-archive > article {
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-list-archive .post .content-wrap .lyt, .post-list-archive .type-page .content-wrap .lyt, .post-list-archive .hentry .content-wrap .lyt, .post-list-archive > article .content-wrap .lyt {
  vertical-align: top;
}

.post-list-archive .post .content-wrap .archive-image, .post-list-archive .type-page .content-wrap .archive-image, .post-list-archive .hentry .content-wrap .archive-image, .post-list-archive > article .content-wrap .archive-image {
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-list-archive .post .content-wrap .archive-image IMG, .post-list-archive .type-page .content-wrap .archive-image IMG, .post-list-archive .hentry .content-wrap .archive-image IMG, .post-list-archive > article .content-wrap .archive-image IMG {
  max-width: 100%;
  height: auto;
}

.post-list-archive .post .content-wrap .archive-image .no-image, .post-list-archive .type-page .content-wrap .archive-image .no-image, .post-list-archive .hentry .content-wrap .archive-image .no-image, .post-list-archive > article .content-wrap .archive-image .no-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 240px;
  max-width: 500px;
  background-repeat: no-repeat;
  opacity: 0.4;
  background-color: #e2e3e2;
  background-size: 80% auto;
  background-position: center;
  position: relative;
}

.post-list-archive .post .content-wrap .archive-image .no-image span, .post-list-archive .type-page .content-wrap .archive-image .no-image span, .post-list-archive .hentry .content-wrap .archive-image .no-image span, .post-list-archive > article .content-wrap .archive-image .no-image span {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  left: 0;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  text-transform: uppercase;
  color: #555555;
}

.post-list-archive .post .content-wrap .archive-image .mgb, .post-list-archive .type-page .content-wrap .archive-image .mgb, .post-list-archive .hentry .content-wrap .archive-image .mgb, .post-list-archive > article .content-wrap .archive-image .mgb {
  width: 100%;
  text-align: center;
}

.post-list-archive .post .content-wrap .archive-content .txb, .post-list-archive .type-page .content-wrap .archive-content .txb, .post-list-archive .hentry .content-wrap .archive-content .txb, .post-list-archive > article .content-wrap .archive-content .txb {
  padding-top: 30px;
  padding-bottom: 20px;
}

.post-list-archive .post .content-wrap .archive-content .txb .type, .post-list-archive .type-page .content-wrap .archive-content .txb .type, .post-list-archive .hentry .content-wrap .archive-content .txb .type, .post-list-archive > article .content-wrap .archive-content .txb .type {
  display: block;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.44444;
  letter-spacing: 0.1234rem;
  text-transform: uppercase;
}

.post-list-archive .post .content-wrap > div:first-child, .post-list-archive .type-page .content-wrap > div:first-child, .post-list-archive .hentry .content-wrap > div:first-child, .post-list-archive > article .content-wrap > div:first-child {
  padding: 0px;
}

.post-list-archive .post .post-excerpt, .post-list-archive .type-page .post-excerpt, .post-list-archive .hentry .post-excerpt, .post-list-archive > article .post-excerpt {
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.63636;
}

.post-list-archive .post .post-excerpt .has-text-align-right, .post-list-archive .type-page .post-excerpt .has-text-align-right, .post-list-archive .hentry .post-excerpt .has-text-align-right, .post-list-archive > article .post-excerpt .has-text-align-right {
  text-align: right;
}

.post-list-archive .post .post-excerpt .has-text-align-left, .post-list-archive .type-page .post-excerpt .has-text-align-left, .post-list-archive .hentry .post-excerpt .has-text-align-left, .post-list-archive > article .post-excerpt .has-text-align-left {
  text-align: left;
}

.post-list-archive .post .post-excerpt .has-text-align-center, .post-list-archive .type-page .post-excerpt .has-text-align-center, .post-list-archive .hentry .post-excerpt .has-text-align-center, .post-list-archive > article .post-excerpt .has-text-align-center {
  text-align: center;
}

.post-list-archive .post .entry-title, .post-list-archive .type-page .entry-title, .post-list-archive .hentry .entry-title, .post-list-archive > article .entry-title {
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.16667;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.post-list-archive .post .entry-title a, .post-list-archive .type-page .entry-title a, .post-list-archive .hentry .entry-title a, .post-list-archive > article .entry-title a {
  text-decoration: none;
}

.post-list-archive .post .archive-image, .post-list-archive .type-page .archive-image, .post-list-archive .hentry .archive-image, .post-list-archive > article .archive-image {
  text-align: center;
}

.post-list-archive .post .archive-image IMG, .post-list-archive .type-page .archive-image IMG, .post-list-archive .hentry .archive-image IMG, .post-list-archive > article .archive-image IMG {
  max-width: 100%;
}

.archive-header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.16667;
}

.archive-header .archive-subtitle {
  padding-top: 10px;
  max-width: 90%;
  margin: 0 auto;
}

.pagination-wrapper {
  text-align: center;
  padding-bottom: 40px;
}

.pagination-wrapper .nav-links {
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
  color: inherit;
}

.pagination-wrapper .nav-links a {
  color: inherit;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
}

.pagination-wrapper .nav-links .current {
  opacity: 0.8;
}

.pagination-wrapper .nav-links .prev > span:nth-child(1), .pagination-wrapper .nav-links .next > span:nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
}

.pagination-wrapper a {
  text-decoration: none;
}

.no-search-results-form {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.error404-content.section-inner, .no-search-results-form, .no-search-results-form.section-inner, .post-content-list-container > *:not(section):not(.content-wrap), #footerWrapper .content-wrap {
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.77778;
}

.post-content-list-container > form {
  max-width: 800px;
}

.post-content-list-container .woocommerce {
  max-width: 1200px;
}

.schema-markup, .schema-meta-header {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

#contentWrapper.constrain-image-blocks .post-part-container.left-media .content-wrap > div:first-child, #contentWrapper.constrain-image-blocks .post-part-container.right-media .content-wrap > div:last-child {
  padding-left: 20px;
  padding-right: 20px;
}

#contentWrapper.constrain-image-blocks .post-list-archive .content-wrap > div:first-child {
  padding-left: 20px;
  padding-right: 20px;
}

#contentWrapper.has-section-padding-none {
  position: relative;
}

#contentWrapper.has-section-padding-tight .post-part-container.left-media {
  padding-top: 20px;
}

#contentWrapper.has-section-padding-tight .post-part-container.right-media {
  padding-bottom: 20px;
}

#contentWrapper.has-section-padding-medium .post-part-container.left-media {
  padding-top: 30px;
}

#contentWrapper.has-section-padding-medium .post-part-container.right-media {
  padding-bottom: 30px;
}

#contentWrapper.has-section-padding-spacious .post-part-container.left-media {
  padding-top: 45px;
}

#contentWrapper.has-section-padding-spacious .post-part-container.right-media {
  padding-bottom: 45px;
}

#headerWrapper .header-navigation-wrapper, #headerWrapper .header-navigation-wrapper .main-menu li, #headerWrapper .header-branding, #headerWrapper .header-branding IMG, #headerWrapper .site-title, #headerWrapper, #mobileMenuToggle, #contactToggle, #interfaceToggle {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

/**
 * Clearfix
 */
/* Establish the grid-container element.  */
/* Align an element to the grid. */
#headerWrapper .header-navigation-wrapper, #headerWrapper .header-navigation-wrapper .main-menu li, #headerWrapper .header-branding, #headerWrapper .header-branding IMG, #headerWrapper .site-title, #headerWrapper, #mobileMenuToggle, #contactToggle, #interfaceToggle {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

/* Comment Headers ----------------------------- */
.comments-wrapper {
  margin-top: 50px;
}

.comment-reply-title {
  margin: 0 0 40px 0;
  text-align: center;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.33333;
}

/* Comment Item ----------------------------- */
/* COMMENT HEADER */
#comment {
  max-width: 100%;
  width: 100%;
}

.comments .pingback, .comments .trackback, .comments .review {
  padding-top: 3.5rem;
}

.comments .comments-header + div {
  margin-top: 0;
  padding-top: 0;
}

.comments .comment {
  padding-left: 20px;
}

div.comment:first-of-type {
  margin-top: 3.5rem;
  padding-top: 0;
}

.comment-body {
  position: relative;
}

.comment-meta {
  line-height: 1.3;
  margin-bottom: 1.5rem;
  min-height: 5rem;
  padding-left: 5rem;
  position: relative;
}

.hide-avatars .comment-meta {
  min-height: 0;
  padding-left: 0;
}

.comment-meta a {
  color: inherit;
}

.comment-author {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.027777778rem;
}

.comment-author a {
  text-decoration: underline;
}

.comment-author a:hover, .comment-author a:focus {
  text-decoration: none;
}

.comment-author .url {
  text-decoration: underline;
}

.comment-meta .avatar {
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 4rem;
}

.comment-metadata {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 0.6rem;
}

.comment-metadata a {
  text-decoration: none;
}

.comment-metadata a:focus, .comment-metadata a:hover {
  text-decoration: underline;
}

/* COMMENT FOOTER */
.comment-footer-meta {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.030833333rem;
  line-height: 1;
  margin: 1.5rem 0 -1rem -1.5rem;
  text-transform: uppercase;
}

.comment-footer-meta > * {
  margin: 0 0 1rem 1.5rem;
}

.comment-reply-link {
  background-color: inherit;
  color: inherit;
  display: block;
  padding: 0.7rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.bypostauthor .comment-footer-meta .by-post-author {
  display: block;
}

.comment-footer-meta a {
  text-decoration: none;
}

.comment-footer-meta a:focus,
.comment-footer-meta a:hover {
  text-decoration: underline;
}

.pingback .comment-meta,
.trackback .comment-meta {
  padding-left: 0;
}

.comments-pagination {
  display: block;
  margin-top: 60px;
  text-align: center;
}

.comments-pagination.only-next {
  text-align: right;
}

.comments-pagination .page-numbers {
  display: none;
  text-decoration: none;
}

.comments-pagination .page-numbers:focus,
.comments-pagination .page-numbers:hover {
  text-decoration: underline;
}

.comments-pagination .prev,
.comments-pagination .next {
  display: block;
}

.comments-pagination .prev {
  left: 0;
}

.comments-pagination .next {
  right: 0;
  text-align: right;
}

/* Comment Respond ---------------------------- */
.comment-respond::after {
  clear: both;
  content: "";
  display: block;
}

.comment-respond {
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.6;
}

.comment-respond input, .comment-respond textarea {
  border-color: #f1f2f2;
  border-width: 1px;
}

.comment-respond .comment-notes, .comment-respond .logged-in-as {
  color: inherit;
  font-size: 1.8rem;
  line-height: 1.4;
  margin: -3rem 0 4rem 0;
  text-align: center;
}

.comment-respond .comment-notes a, .comment-respond .logged-in-as a {
  color: inherit;
  text-decoration: none;
}

.comment-respond .comment-notes a:hover, .comment-respond .comment-notes a:focus, .comment-respond .logged-in-as a:hover, .comment-respond .logged-in-as a:focus {
  text-decoration: underline;
}

.comment-respond p {
  line-height: 1.1;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.comment-respond p:not(.comment-notes) {
  max-width: 58rem;
}

.comment-form-cookies-consent {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-respond > p:last-of-type {
  margin-bottom: 0;
}

.comment-respond label {
  display: block;
}

.comment-respond input[type="checkbox"] + label {
  font-size: 1.7rem;
  line-height: 1.25;
}

.comment-respond input[type="text"],
.comment-respond input[type="email"],
.comment-respond textarea {
  margin-bottom: 0;
}

.comment-respond textarea {
  height: 15rem;
}

.comment-respond #submit {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-appearance: none;
  border: 0px solid #000;
  padding: 15px 20px;
}

.comment-respond .comments-closed {
  text-align: center;
}

/* Reply Respond ---------------------------- */
.comments .comment-respond {
  padding: 3rem 0 0;
}

.comments .comment-respond .comment-reply-title,
.comments .comment-respond .comment-notes,
.comments .comment-respond .logged-in-as {
  text-align: left;
}

.comment-reply-title {
  font-size: 3rem;
}

.comment-reply-title small {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.0277rem;
  margin: 0.5rem 0 0 0;
  white-space: nowrap;
}

.comment-reply-title small a {
  text-decoration: none;
}

.comment-reply-title small a:focus,
.comment-reply-title small a:hover {
  text-decoration: underline;
}

.comments {
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
}

.comments .comment-reply-title, .comments span.fn {
  font-weight: 700;
}

.comments-wrapper .ratings-container {
  padding-bottom: 20px;
}

.comments-wrapper .ratings-container .ratings-list {
  padding-bottom: 10px;
}

.comments-wrapper .comment-body .rating-item {
  width: 19px;
  margin-right: 2px;
}

.comments-wrapper .comment-body .rating-item svg * {
  fill-opacity: 100;
}

.comments-wrapper .comment-body .rating-item svg {
  max-width: 100%;
}

.comments-wrapper label.important-note-a11y {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

#headerWrapper .header-navigation-wrapper, #headerWrapper .header-navigation-wrapper .main-menu li, #headerWrapper .header-branding, #headerWrapper .header-branding IMG, #headerWrapper .site-title, #headerWrapper, #mobileMenuToggle, #contactToggle, #interfaceToggle {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

/**
 * Clearfix
 */
/* Establish the grid-container element.  */
/* Align an element to the grid. */
#headerWrapper .header-navigation-wrapper, #headerWrapper .header-navigation-wrapper .main-menu li, #headerWrapper .header-branding, #headerWrapper .header-branding IMG, #headerWrapper .site-title, #headerWrapper, #mobileMenuToggle, #contactToggle, #interfaceToggle {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.search-modal {
  background: rgba(0, 0, 0, 0.2);
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: -9999rem;
  top: 0;
  -webkit-transition: opacity 0.2s linear, left 0s 0.2s linear;
  transition: opacity 0.2s linear, left 0s 0.2s linear;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.search-modal-inner {
  background: #fff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.15s linear, -webkit-box-shadow 0.15s linear;
  transition: -webkit-transform 0.15s linear, -webkit-box-shadow 0.15s linear;
  transition: transform 0.15s linear, box-shadow 0.15s linear;
  transition: transform 0.15s linear, box-shadow 0.15s linear, -webkit-transform 0.15s linear, -webkit-box-shadow 0.15s linear;
  padding: 0px 25px;
}

.search-modal-inner .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 168rem;
}

.search-modal.active {
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.search-modal.active .search-modal-inner {
  -webkit-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.1s 0.25s linear;
  transition: -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.1s 0.25s linear;
  transition: transform 0.25s ease-in-out, box-shadow 0.1s 0.25s linear;
  transition: transform 0.25s ease-in-out, box-shadow 0.1s 0.25s linear, -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.1s 0.25s linear;
}

button.search-untoggle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -2.5rem;
  padding: 0 2.5rem;
}

.search-modal button.search-untoggle {
  color: inherit;
}

.search-modal.active .search-untoggle {
  -webkit-animation: popIn both 0.3s 0.2s;
          animation: popIn both 0.3s 0.2s;
}

.search-untoggle svg {
  height: 1.5rem;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  width: 1.5rem;
}

.search-untoggle:focus svg,
.search-untoggle:hover svg {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

/* Modal Search Form ------------------------- */
.search-modal form {
  margin: 0;
  position: relative;
  width: 100%;
}

.search-modal .search-field {
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font-size: 2rem;
  letter-spacing: -0.0277em;
  height: 8.4rem;
  margin: 0 0 0 -2rem;
  max-width: calc(100% + 2rem);
  padding: 0 0 0 2rem;
  width: calc(100% + 2rem);
}

.search-modal .search-field::-webkit-input-placeholder {
  color: inherit;
}

.search-modal .search-field:-ms-input-placeholder {
  color: inherit;
}

.search-modal .search-field::-moz-placeholder {
  color: inherit;
  line-height: 4;
}

.search-modal .search-submit {
  position: absolute;
  right: -9999rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-modal .search-submit:focus {
  right: 0;
}

.search-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0px solid #000;
  background-color: transparent;
}
/*# sourceMappingURL=app.css.map */