/**
 * Clearfix
 */
/* Establish the grid-container element.  */
/* Align an element to the grid. */
@media only screen and (min-width: 768px) {
  #headerWrapper {
    height: 100px;
  }
  #headerWrapper.logo-present-header {
    height: 105px;
  }
  #headerWrapper .header-navigation-wrapper {
    position: absolute;
    left: 0;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    width: auto;
    height: auto;
    z-index: 500;
    top: auto;
    bottom: 4px;
  }
  #headerWrapper .header-navigation-wrapper .menu-container {
    height: auto;
    padding-left: 20px;
  }
  #headerWrapper .header-navigation-wrapper .main-menu li {
    font-size: 2rem;
    margin-left: 10px;
    padding: 0px;
    display: inline-block;
  }
  #headerWrapper .header-navigation-wrapper .main-menu li:first-child {
    margin-left: 0px;
  }
  #headerWrapper .header-navigation-wrapper .main-menu li:first-child a {
    margin-left: -8px;
  }
  #headerWrapper .header-branding {
    padding: 10px;
    padding-bottom: 45px;
  }
  #headerWrapper .header-branding IMG {
    height: 50px;
  }
  #headerWrapper .site-title {
    font-size: 3rem;
    padding: 10px;
    padding-bottom: 30px;
  }
  #headerWrapper .header-right {
    top: auto;
    bottom: 15px;
    -webkit-transform: none;
            transform: none;
  }
  #headerWrapper.floating {
    overflow: hidden;
  }
  #headerWrapper.floating.scroll-dir-down {
    height: 50px;
  }
  #headerWrapper.floating.scroll-dir-down .site-title {
    padding-top: 0px;
    font-size: 3rem;
    line-height: 50px;
  }
  #headerWrapper.floating.scroll-dir-down .header-right {
    bottom: 10px;
  }
  #headerWrapper.floating.scroll-dir-down .header-branding {
    padding-top: 2px;
  }
  #headerWrapper.floating.scroll-dir-down .header-branding IMG {
    height: 42px;
  }
  #headerWrapper.floating.scroll-dir-down .header-navigation-wrapper {
    bottom: -60px;
  }
  #headerWrapper.floating.scroll-dir-down .bg-wrapper {
    opacity: 0.4;
  }
  #mobileMenuToggle {
    top: -100%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    font-size: 0;
    opacity: 0;
    height: 0px;
  }
  #interfaceToggle:checked ~ #windowContainer {
    overflow: auto;
  }
  #interfaceToggle:checked ~ #windowContainer #headerWrapper {
    height: auto;
  }
  #interfaceToggle:checked ~ #windowContainer #headerWrapper .content-wrap {
    height: auto;
  }
  #interfaceToggle:checked ~ #windowContainer #headerWrapper .header-navigation-wrapper {
    padding-top: 0px;
    width: auto;
    height: auto;
    margin-top: 0;
    position: absolute;
  }
  #interfaceToggle:checked ~ #windowContainer #headerWrapper.floating.scroll-dir-down {
    height: 50px;
  }
  #bodyWrapper {
    padding-top: 100px;
  }
  #bodyWrapper.logo-present-header {
    padding-top: 105px;
  }
  .masthead {
    font-size: 1.6rem;
  }
  .masthead .entry-title {
    font-size: 5.2rem;
    max-width: 75%;
    text-shadow: 1px 1px 1px #000000, 0px 0px 0px #444444;
  }
  .entry-header .entry-title {
    padding-top: 50px;
    font-size: 5rem;
  }
  .post-meta-wrapper .meta-wrapper, .masthead .feature-overlay .post-meta-wrapper .meta-wrapper {
    font-size: 1.6rem;
  }
  .footer-widgets-wrapper .column-one, .footer-widgets-wrapper .column-two {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .post-part .post-part-container.left-media.has-content .content-wrap > .lyt, .post-part .post-part-container.right-media.has-content .content-wrap > .lyt {
    width: 50%;
  }
  .post-part .post-part-container.all-media-content .content-wrap .lyt, .post-part .post-part-container.two-col-text .content-wrap .lyt {
    width: 50%;
  }
  .post-content-list-container .post-part.force-1col-tablet .post-part-container .content-wrap .lyt {
    width: 100%;
  }
  .post-content-list-container .post-part.force-2col-tablet .post-part-container .content-wrap .lyt {
    width: 50%;
  }
  .post-list-archive {
    padding-bottom: 60px;
  }
  .post-list-archive .post .content-wrap > .lyt, .post-list-archive .type-page .content-wrap > .lyt, .post-list-archive .hentry .content-wrap > .lyt, .post-list-archive > article .content-wrap > .lyt {
    width: 50%;
  }
  .pagination-wrapper {
    padding-bottom: 60px;
  }
  .pagination-wrapper .nav-links {
    font-size: 2.4rem;
  }
  #comment {
    width: 500px;
  }
  .error404-content.section-inner, .no-search-results-form, .no-search-results-form.section-inner, .post-content-list-container .woocommerce {
    font-size: 2.2rem;
  }
  #contentWrapper.has-section-padding-tight .post-part .post-part-container.left-media, #contentWrapper.has-section-padding-tight .post-part .post-part-container.right-media {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #contentWrapper.has-section-padding-medium .post-part .post-part-container.left-media, #contentWrapper.has-section-padding-medium .post-part .post-part-container.right-media {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  #contentWrapper.has-section-padding-spacious .post-part .post-part-container.left-media, #contentWrapper.has-section-padding-spacious .post-part .post-part-container.right-media {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky {
    padding-top: 100px;
  }
  .logo-present-header #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky {
    padding-top: 105px;
  }
  .admin-bar #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky, .admin-bar #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky.vp-center, .admin-bar #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky {
    padding-top: 132px;
  }
  .admin-bar .logo-present-header #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky, .admin-bar .logo-present-header#contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky.vp-center, .admin-bar .logo-present-header #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky {
    padding-top: 137px;
  }
  .scrolling-down #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky .align-inner {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  .scrolling-down .logo-present-header #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky .align-inner {
    -webkit-transform: translateY(-55px);
            transform: translateY(-55px);
  }
  #contentWrapper.sticky-scrolling-enabled .post-content-list-container .focus-bottom.post-part-vertical-align.sticky .align-inner, .scrolling-down .logo-present-header #contentWrapper.sticky-scrolling-enabled .post-content-list-container .focus-bottom.post-part-vertical-align.sticky .align-inner, .scrolling-down .logo-present-header #contentWrapper.sticky-scrolling-enabled .post-content-list-container .focus-in.post-part-vertical-align.sticky .align-inner {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1024px) {
  #headerWrapper {
    height: 120px;
  }
  #headerWrapper.logo-present-header {
    height: 145px;
  }
  #headerWrapper .content-wrap {
    overflow: visible;
  }
  #headerWrapper .header-branding {
    padding: 15px;
    padding-bottom: 60px;
  }
  #headerWrapper .header-branding IMG {
    height: 70px;
  }
  #headerWrapper .site-title {
    font-size: 4rem;
    padding: 15px;
    padding-bottom: 45px;
  }
  #headerWrapper .header-navigation-wrapper {
    bottom: 10px;
  }
  #headerWrapper .header-navigation-wrapper .main-menu li {
    font-size: 2rem;
  }
  #headerWrapper .header-right {
    bottom: 20px;
  }
  #bodyWrapper {
    padding-top: 120px;
  }
  #bodyWrapper.logo-present-header {
    padding-top: 145px;
  }
  #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky {
    padding-top: 120px;
  }
  .admin-bar #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky, .admin-bar #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky.vp-center, .admin-bar #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky {
    padding-top: 172px;
  }
  .logo-present-header #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky {
    padding-top: 145px;
  }
  .admin-bar .logo-present-header #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky, .admin-bar .logo-present-header#contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky.vp-center, .admin-bar .logo-present-header #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky {
    padding-top: 197px;
  }
  .masthead {
    font-size: 2rem;
    letter-spacing: 0.125rem;
  }
  .masthead .entry-title {
    font-size: 7.5rem;
    line-height: 1.05;
    padding-bottom: 10px;
    max-width: 66%;
    letter-spacing: -0.0125rem;
    text-shadow: 1px 1px 2px #000000, 0px 0px 0px #444444;
  }
  .post-meta-wrapper .meta-wrapper, .masthead .feature-overlay .post-meta-wrapper .meta-wrapper {
    font-size: 2rem;
  }
  .masthead .feature-overlay .post-meta-wrapper .meta-wrapper {
    text-shadow: 1px 1px 1px #000000, 0px 0px 0px #444444;
  }
  .entry-header .entry-title {
    padding-top: 45px;
    font-size: 6rem;
  }
  .footer-nav-widgets-wrapper {
    padding-top: 60px;
  }
  .post-content-list-container .post-part.force-1col-desktop .post-part-container .content-wrap .lyt {
    width: 100%;
  }
  .post-content-list-container .post-part.force-2col-desktop .post-part-container .content-wrap .lyt {
    width: 50%;
  }
  .post-part-container .post-part-media.video .mgb video {
    max-height: 675px;
  }
  .single article.post {
    padding-bottom: 60px;
  }
  .archive-header .archive-subtitle {
    max-width: 75%;
  }
  .error404-content.section-inner, .no-search-results-form, .no-search-results-form.section-inner, .post-content-list-container .woocommerce {
    font-size: 2.4rem;
  }
  .error404-content.section-inner, .no-search-results-form, .no-search-results-form.section-inner, #contentWrapper .post-content-list-container > *:not(section):not(.content-wrap), #footerWrapper .content-wrap {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 2.2rem;
  }
  #contentWrapper.constrain-image-blocks .post-content-list-container .post-part-container.left-media .content-wrap > div:first-child, #contentWrapper.constrain-image-blocks .post-content-list-container .post-part-container.right-media .content-wrap > div:last-child {
    padding-left: 30px;
    padding-right: 30px;
  }
  #contentWrapper.constrain-image-blocks .post-list-archive .post-content-list-container .content-wrap > div:first-child {
    padding-left: 30px;
    padding-right: 30px;
  }
  #contentWrapper.has-section-padding-tight .post-part .post-part-container.left-media, #contentWrapper.has-section-padding-tight .post-part .post-part-container.right-media {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #contentWrapper.has-section-padding-medium .post-part .post-part-container.left-media, #contentWrapper.has-section-padding-medium .post-part .post-part-container.right-media {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #contentWrapper.has-section-padding-spacious .post-part .post-part-container.left-media, #contentWrapper.has-section-padding-spacious .post-part .post-part-container.right-media {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .scrolling-down #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky .align-inner {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  .scrolling-down .logo-present-header #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky .align-inner {
    -webkit-transform: translateY(-95px);
            transform: translateY(-95px);
  }
  .scrolling-down #contentWrapper.sticky-scrolling-enabled .post-content-list-container .focus-bottom.post-part-vertical-align.sticky .align-inner {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .to-the-top .to-the-top-short {
    display: none;
  }
  .to-the-top .to-the-top-long {
    display: inline-block;
  }
}

@media only screen and (min-width: 1200px) {
  .masthead {
    font-size: 2.1rem;
    letter-spacing: 0.15rem;
  }
  .masthead .entry-title {
    font-size: 9rem;
  }
  .post-meta-wrapper .meta-wrapper, .masthead .feature-overlay .post-meta-wrapper .meta-wrapper {
    font-size: 2.1rem;
  }
  .entry-header .entry-title {
    padding-top: 60px;
    font-size: 7rem;
  }
  .scrolling-down #contentWrapper.sticky-scrolling-enabled .post-content-list-container .panel-vertical-align.sticky .align-inner {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  .scrolling-down .logo-present-header #contentWrapper.sticky-scrolling-enabled .post-content-list-container .panel-vertical-align.sticky .align-inner {
    -webkit-transform: translateY(-95px);
            transform: translateY(-95px);
  }
  .scrolling-down #contentWrapper.sticky-scrolling-enabled .post-content-list-container .focus-bottom.post-part-vertical-align.sticky .align-inner {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=responsive.css.map */