#headerWrapper .header-navigation-wrapper, #headerWrapper .header-navigation-wrapper .main-menu li, #headerWrapper .header-branding, #headerWrapper .header-branding IMG, #headerWrapper .site-title, #headerWrapper, #mobileMenuToggle, #contactToggle, #interfaceToggle {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

/**
 * Clearfix
 */
/* Establish the grid-container element.  */
/* Align an element to the grid. */
#headerWrapper .header-navigation-wrapper, #headerWrapper .header-navigation-wrapper .main-menu li, #headerWrapper .header-branding, #headerWrapper .header-branding IMG, #headerWrapper .site-title, #headerWrapper, #mobileMenuToggle, #contactToggle, #interfaceToggle {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 0;
  font-family: sans-serif;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

body.body-enter {
  opacity: 0;
}

body.body-enter-active {
  opacity: 1;
}

b, strong {
  font-weight: 700;
}

#interfaceToggle, #contactToggle {
  position: fixed;
  top: 0;
  clip: rect(0, 0, 0, 0);
  left: auto;
  top: 0;
  z-index: 0;
}

#windowContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  overflow: auto;
  z-index: 1;
  top: 0;
  left: 0;
}

#bodyWrapper {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 60px;
  z-index: 0;
  -webkit-transition: padding-top 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: padding-top 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  top: 0;
  left: 0;
}

#announcementBar {
  position: relative;
  height: auto;
}

#siteFooter {
  display: table-row;
  position: relative;
  height: 1px;
}

#footerWrapper {
  display: block;
  position: relative;
  width: 100%;
}

#footerWrapper .footer-links li {
  font-size: 90%;
}

#footerWrapper li {
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  margin-right: 20px;
}

#footerWrapper .content-wrap, #footerWrapper .content-wrap > div {
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.66667;
}

#footerWrapper footer {
  padding-top: 15px;
}

#footerWrapper .content-wrap > .footer-copyright, #footerWrapper .footer-copyright {
  display: block;
  padding-bottom: 30px;
  font-size: 1.4rem;
}

#headerWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

#headerWrapper .bg-wrapper {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  -webkit-transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
}

#headerWrapper .content-wrap {
  position: relative;
  z-index: 1;
}

.headerDrawerWrapper {
  position: relative;
  display: block;
  margin: 0px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  text-align: left;
}

.headerDrawerWrapper .widget {
  position: relative;
}

.headerDrawerWrapper .widget .widget-title {
  cursor: pointer;
}

.headerDrawerWrapper .wp-block-pullquote p {
  margin-bottom: 0px;
}

.lyt {
  display: inline-block;
  width: 100%;
}

.mgb, .txb, .cxb {
  display: inline-block;
}

.mgb {
  display: inline-block;
}

.txb {
  display: inline-block;
}

.cxb {
  display: inline-block;
}

/* Cover Modals ------------------------------ */
.cover-modal {
  display: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.cover-modal::-webkit-scrollbar {
  display: none !important;
}

.cover-modal.show-modal {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.cover-modal.show-modal > * {
  cursor: default;
}

/* header wrapper ------------------------------ */
#headerWrapper {
  overflow: visible;
  height: 60px;
}

#headerWrapper .content-wrap {
  position: relative;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

#headerWrapper .header-navigation-wrapper {
  top: 0%;
  position: absolute;
  left: 0;
  text-align: left;
  margin-left: -100%;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

#headerWrapper .header-navigation-wrapper .menu-container {
  width: 100%;
  position: relative;
  display: inline-block;
  height: 100%;
  overflow: auto;
}

#headerWrapper .header-navigation-wrapper .main-menu {
  display: inline-block;
  width: 100%;
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1;
}

#headerWrapper .header-navigation-wrapper .main-menu li {
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 20px;
  text-align: center;
}

#headerWrapper .header-navigation-wrapper .main-menu li a {
  padding: 5px 8px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

#headerWrapper .header-branding {
  display: inline-block;
  padding: 8px;
  padding-bottom: 13px;
}

#headerWrapper .header-branding IMG {
  height: 40px;
  width: auto;
}

#headerWrapper .site-title {
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
  line-height: 60px;
}

#headerWrapper .site-title a {
  color: inherit;
  text-decoration: none;
}

#headerWrapper .header-right {
  position: absolute;
  right: 0;
  text-align: right;
  top: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 20px;
}

#headerWrapper .header-right .user {
  display: inline-block;
  font-size: 0px;
  margin-left: 10px;
  cursor: pointer;
}

#headerWrapper .header-right .search-toggle-wrapper {
  display: inline-block;
  font-size: 0px;
}

#headerWrapper .header-right .search-toggle-wrapper button {
  padding: 10px;
}

#headerWrapper .header-right .cart-container {
  display: inline-block;
  padding-left: 10px;
}

#headerWrapper .header-right .cart-container a {
  display: inline-block;
  padding: 10px;
}

#mobileMenuToggle, #contactToggle, #interfaceToggle {
  position: absolute;
  left: 0px;
  top: 0px;
  right: auto;
  opacity: 1;
  display: inline-block;
  height: auto;
  z-index: 500;
  text-align: left;
  padding-left: 15px;
  padding-top: 20px;
  font-weight: 400;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  cursor: pointer;
}

#mobileMenuToggle span, #contactToggle span, #interfaceToggle span {
  display: inline-block;
}

#mobileMenuToggle .toggle-text, #mobileMenuToggle .toggle-text-active, #contactToggle .toggle-text, #contactToggle .toggle-text-active, #interfaceToggle .toggle-text, #interfaceToggle .toggle-text-active {
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: inherit;
  display: block;
  font-weight: 700;
}

#mobileMenuToggle .toggle-text-active, #contactToggle .toggle-text-active, #interfaceToggle .toggle-text-active {
  font-size: 0;
}

#mobileMenuToggle .toggle-icon, #contactToggle .toggle-icon, #interfaceToggle .toggle-icon {
  margin-left: 2px;
  opacity: 0.65;
}

#contactToggle:checked ~ #windowContainer .headerDrawerWrapper {
  max-height: 4000px;
}

#contactToggle:checked ~ #windowContainer #headerWrapper {
  height: 100%;
  overflow: auto;
}

#contactToggle:checked ~ #windowContainer #headerWrapper .bg-wrapper {
  opacity: 1;
}

#contactToggle:checked ~ #windowContainer #headerWrapper > .content-wrap {
  height: auto;
}

#interfaceToggle:checked ~ #windowContainer {
  overflow: hidden;
}

#interfaceToggle:checked ~ #windowContainer #headerWrapper {
  height: 100%;
}

#interfaceToggle:checked ~ #windowContainer #headerWrapper .header-navigation-wrapper {
  position: fixed;
  z-index: 100;
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

#interfaceToggle:checked ~ #windowContainer #mobileMenuToggle {
  width: 100%;
}

#interfaceToggle:checked ~ #windowContainer #mobileMenuToggle .toggle-text {
  font-size: 0;
}

#interfaceToggle:checked ~ #windowContainer #mobileMenuToggle .toggle-text-active {
  font-size: 1.2rem;
}

#interfaceToggle:checked ~ #windowContainer #mobileMenuToggle .toggle-inner:after {
  width: 100%;
  height: 100%;
  position: absolute;
}

.screen-reader-text, .sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.widget-content {
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.66667;
}

.widget-content .widget-title {
  font-weight: 700;
}

.widget {
  margin-bottom: 40px;
}

.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.content-wrap .lyt {
  padding: 0 20px;
}

.footer-widgets-wrapper .widget-content .widget-title {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.footer-widgets-wrapper .widget-content a {
  text-decoration: none;
}

.footer-nav-widgets-wrapper {
  padding-top: 40px;
}

.footer-nav-widgets-wrapper input[type=search] {
  border-width: 1px;
}

.footer-nav-widgets-wrapper .has-social-menu {
  padding-bottom: 20px;
}

.footer-nav-widgets-wrapper .has-social-menu svg {
  width: 40px;
  height: 40px;
}

.header-footer-group input[type="submit"] {
  color: inherit;
}

.post-content-list-container {
  position: relative;
}

.post-content-list-container .post-password-form {
  display: inline-block;
  max-width: 600px;
  padding: 80px;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.6;
}

.post-content-list-container .post-password-form input {
  font-size: 40px;
  font-weight: 700;
}

.post-content-list-container .post-password-form input[type=submit] {
  background-color: transparent;
  border-width: 0px;
  font-size: 7rem;
}

.post-content-list-container > form, .post-content-list-container > p {
  font-size: 1.8rem;
  line-height: 1.6;
}

.post-content-list-container form input, .post-content-list-container form textarea {
  border-width: 1px;
  padding: 4px;
}

.post-content-list-container form input[type=submit] {
  padding: 10px;
}

#site-content {
  position: relative;
}

#contentWrapper .woocommerce-wrapper, #contentWrapper .post-content-list-container .post-part-spacer .cxb {
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.66667;
}

#contentWrapper .woocommerce #payment #place_order {
  font-size: 2.4rem;
  text-transform: uppercase;
}

#contentWrapper.block-transitions-enabled .post-content-list-container {
  overflow: hidden;
}

#contentWrapper.block-transitions-enabled .bxTr {
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

#contentWrapper.block-transitions-enabled .bxTr.fadeInOut, #contentWrapper.block-transitions-enabled .bxTr.fadeInNoOut {
  -webkit-transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
}

#contentWrapper.block-transitions-enabled .bxTr.fadeInOut-enter-active, #contentWrapper.block-transitions-enabled .bxTr.fadeInNoOut-enter-active {
  opacity: 1;
}

#contentWrapper.block-transitions-enabled .bxTr.fadeInOut-leave-active, #contentWrapper.block-transitions-enabled .bxTr.fadeInNoOut-leave-active {
  opacity: 0;
}

#contentWrapper.block-transitions-enabled .bxTr.growInNoOut, #contentWrapper.block-transitions-enabled .bxTr.growInSmallOut {
  -webkit-transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
}

#contentWrapper.block-transitions-enabled .bxTr.growInNoOut-enter-active, #contentWrapper.block-transitions-enabled .bxTr.growInSmallOut-enter-active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#contentWrapper.block-transitions-enabled .bxTr.growInNoOut-leave-active, #contentWrapper.block-transitions-enabled .bxTr.growInSmallOut-leave-active {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

#contentWrapper.block-transitions-enabled .bxTr.linRout, #contentWrapper.block-transitions-enabled .bxTr.leftInNoOut {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#contentWrapper.block-transitions-enabled .bxTr.linRout-enter-active, #contentWrapper.block-transitions-enabled .bxTr.leftInNoOut-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#contentWrapper.block-transitions-enabled .bxTr.linRout-leave-active, #contentWrapper.block-transitions-enabled .bxTr.leftInNoOut-leave-active {
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#contentWrapper.block-transitions-enabled .bxTr.rightInOut, #contentWrapper.block-transitions-enabled .bxTr.rightInNoOut {
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
}

#contentWrapper.block-transitions-enabled .bxTr.rightInOut-enter-active, #contentWrapper.block-transitions-enabled .bxTr.rightInNoOut-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#contentWrapper.block-transitions-enabled .bxTr.rightInOut-leave-active, #contentWrapper.block-transitions-enabled .bxTr.rightInNoOut-leave-active {
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#contentWrapper.block-transitions-enabled .bxTr.dinUpOut, #contentWrapper.block-transitions-enabled .bxTr.downInNoOut {
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
}

#contentWrapper.block-transitions-enabled .bxTr.dinUpOut-enter-active, #contentWrapper.block-transitions-enabled .bxTr.downInNoOut-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#contentWrapper.block-transitions-enabled .bxTr.dinUpOut-leave-active, #contentWrapper.block-transitions-enabled .bxTr.downInNoOut-leave-active {
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

#contentWrapper.block-transitions-enabled .bxTr.upInOut, #contentWrapper.block-transitions-enabled .bxTr.upInNoOut {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

#contentWrapper.block-transitions-enabled .bxTr.upInOut-enter-active, #contentWrapper.block-transitions-enabled .bxTr.upInNoOut-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#contentWrapper.block-transitions-enabled .bxTr.upInOut-leave-active, #contentWrapper.block-transitions-enabled .bxTr.upInNoOut-leave-active {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

#contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.vp-center {
  position: relative;
  display: table;
  table-layout: fixed;
  min-height: 100%;
  vertical-align: middle;
}

#contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.vp-center .align-inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

#contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align .align-inner {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky {
  padding-top: 50px;
}

#contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky.vp-center {
  padding-top: 50px;
}

.admin-bar #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky.vp-center, .admin-bar #contentWrapper.sticky-scrolling-enabled .post-content-list-container .post-part-vertical-align.sticky {
  padding-top: 106px;
}

.to-the-top {
  display: block;
  text-align: right;
}

.to-the-top .to-the-top-long {
  display: none;
}

.ratings-container {
  display: block;
  font-size: 0rem;
}

.ratings-container .rating-container-title {
  display: block;
}

.ratings-container .rating-container-title span {
  font-size: 2rem;
}

.ratings-container .ratings-list {
  display: block;
}

.ratings-container .ratings-list.selected-rating-1 .rating-item:nth-of-type(1) svg * {
  fill-opacity: 100;
}

.ratings-container .ratings-list.selected-rating-2 .rating-item:nth-of-type(1) svg *,
.ratings-container .ratings-list.selected-rating-2 .rating-item:nth-of-type(2) svg * {
  fill-opacity: 100;
}

.ratings-container .ratings-list.selected-rating-3 .rating-item:nth-of-type(1) svg *,
.ratings-container .ratings-list.selected-rating-3 .rating-item:nth-of-type(2) svg *,
.ratings-container .ratings-list.selected-rating-3 .rating-item:nth-of-type(3) svg * {
  fill-opacity: 100;
}

.ratings-container .ratings-list.selected-rating-4 .rating-item:nth-of-type(1) svg *,
.ratings-container .ratings-list.selected-rating-4 .rating-item:nth-of-type(2) svg *,
.ratings-container .ratings-list.selected-rating-4 .rating-item:nth-of-type(3) svg *,
.ratings-container .ratings-list.selected-rating-4 .rating-item:nth-of-type(4) svg * {
  fill-opacity: 100;
}

.ratings-container .ratings-list.selected-rating-5 .rating-item svg * {
  fill-opacity: 100;
}

.ratings-container .rating-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 25px;
  height: 25px;
}

.ratings-container .rating-item label {
  display: block;
  width: 100%;
  height: 100%;
}

.ratings-container .rating-item input {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.ratings-container .rating-item.no-rating {
  margin-left: 30px;
}

.ratings-container.minimal-display .rating-item {
  height: 25px;
  width: 25px;
}

.ratings-container.minimal-display .rating-item.leftover {
  text-align: left;
}

.ratings-container.minimal-display .rating-item.leftover > span {
  overflow: hidden;
  display: inline-block;
}

.ratings-container.minimal-display .rating-item svg * {
  fill-opacity: 100;
}

.ratings-container.interactive-rating .rating-item {
  margin-right: 10px;
}

.ratings-container.interactive-rating .rating-item svg, .ratings-container.interactive-rating .rating-item svg * {
  cursor: pointer;
}
/*# sourceMappingURL=base.css.map */