/**
 * Clearfix
 */
/* Establish the grid-container element.  */
/* Align an element to the grid. */
.masthead {
  position: relative;
  overflow: hidden;
  display: block;
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.masthead .featured-media-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.masthead .featured-media-inner .featured-media {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

.masthead .featured-media-inner .featured-media IMG {
  height: auto;
  position: absolute;
  top: 0;
  max-height: 200%;
  min-height: 100%;
  min-width: 100.5%;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.masthead .feature-overlay {
  position: relative;
  padding: 40px 0px;
  z-index: 1;
  color: #ffffff;
  display: table;
  min-height: 100%;
  width: 100%;
  overflow: auto;
}

.masthead .feature-overlay .content-position-normal, .masthead .feature-overlay .content-position-center {
  display: table-row;
  height: 100%;
}

.masthead .feature-overlay .content-position-bottom {
  display: table-row;
  height: 0%;
}

.masthead .feature-overlay .content-position-center .content-wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.masthead .feature-overlay .content-position-center .content-wrap .lyt {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
}

.masthead .feature-overlay .post-meta-wrapper .meta-wrapper {
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px #000000, 0px 0px 0px #444444;
}

.masthead .feature-overlay .post-meta-wrapper .meta-wrapper a {
  color: #ffffff;
  text-decoration: none;
}

.masthead .feature-overlay .post-meta-wrapper .meta-wrapper .meta-icon {
  display: none;
}

.masthead .entry-title {
  padding-bottom: 5px;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  font-size: 4.4rem;
  line-height: 1.13636;
  text-shadow: 1px 1px 1px #000000, 0px 0px 0px #444444;
  max-width: 85%;
}

.masthead .subtitle {
  text-shadow: 1px 1px 1px #000000, 0px 0px 0px #444444;
}

.masthead .lyt .entry-title {
  max-width: 100%;
}

.masthead .entry-categories {
  padding-bottom: 20px;
}

.masthead .entry-categories a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.09992rem;
  padding-left: 4px;
  padding-right: 4px;
}

.masthead .entry-categories a:hover {
  text-decoration: underline;
}

.masthead.fill-screen-width .featured-media-inner .featured-media {
  max-width: 100%;
  overflow: visible;
}

.schema-info {
  display: none;
  font-size: 0;
}

.entry-header {
  position: relative;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;
}

.entry-header .entry-title {
  padding: 20px;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 1.19048;
  padding-bottom: 20px;
  padding-top: 30px;
}

.entry-header .entry-title a {
  text-decoration: none;
}

.entry-header .entry-categories {
  padding: 20px;
  margin-bottom: 20px;
}

.entry-header .entry-categories a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.09992rem;
  padding-left: 4px;
  padding-right: 4px;
}

.entry-header .entry-categories a:hover {
  text-decoration: underline;
}

.entry-header .post-meta-wrapper {
  margin-bottom: 40px;
}

.post-content-list-container {
  position: relative;
  display: block;
  clear: both;
}

.post-content-list-container .post-inner {
  display: block;
  position: relative;
}

.post-content-list-container > form, .post-content-list-container > p {
  font-size: 1.8rem;
  margin: 0 auto;
  max-width: 1200px;
}

.post-content-list-container .panel-vertical-align {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.post-part {
  display: block;
  width: 100%;
  position: relative;
}

.post-part h2, .post-part h3, .post-part h4, .post-part h5, .post-part h6 {
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
  display: block;
  margin-bottom: 10px;
  color: inherit;
}

.post-part h2 {
  font-size: 5rem;
}

.post-part h3 {
  font-size: 4rem;
}

.post-part h4 {
  font-size: 3.2rem;
}

.post-part h5 {
  font-size: 2.8rem;
}

.post-part .post-part-block-background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.post-part .post-part-block-background IMG, .post-part .post-part-block-background VIDEO {
  height: auto;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.post-part .post-part-block-background figure {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.post-part .post-part-block-background.fill-screen-width figure {
  max-width: 100%;
}

.post-part.force-2col-mobile .content-wrap .lyt {
  width: 50%;
}

.post-part-container {
  display: inline-block;
  width: 100%;
  position: relative;
}

.post-part-container IMG {
  max-width: 100%;
  height: auto;
}

.post-part-container .post-part-block-content {
  position: relative;
  z-index: 10;
}

.post-part-container .post-part-block-content .txb {
  width: 100%;
}

.post-part-container .post-part-block-content.text-align-right {
  text-align: right;
}

.post-part-container .post-part-block-content.text-align-left {
  text-align: left;
}

.post-part-container .post-part-block-content.text-align-center {
  text-align: center;
}

.post-part-container .post-part-block-content .has-text-align-right {
  text-align: right;
}

.post-part-container .post-part-block-content .has-text-align-left {
  text-align: left;
}

.post-part-container .post-part-block-content .has-text-align-center {
  text-align: center;
}

.post-part-container .post-part-block-content .wp-block-gallery {
  display: inline-block;
}

.post-part-container .post-part-block-content .wp-block-gallery.alignright {
  float: right;
  margin-left: 15px;
  max-width: 45%;
}

.post-part-container .post-part-block-content .wp-block-gallery.alignleft {
  float: left;
  margin-right: 15px;
  max-width: 45%;
}

.post-part-container.section-part-cover .content-wrap, .post-part-container.section-part-cover .content-wrap > .lyt {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.post-part-container.section-part-cover .top-padd-content {
  height: 100%;
  display: table-row;
}

.post-part-container.section-part-cover .vertical-position-center, .post-part-container.section-part-cover .vertical-position-bottom {
  display: table-row;
  vertical-align: middle;
}

.post-part-container.section-part-cover .vertical-position-center .txb, .post-part-container.section-part-cover .vertical-position-bottom .txb {
  display: table-cell;
  vertical-align: middle;
}

.post-part-container.right-media .content-wrap > div:nth-child(2) {
  padding: 0px;
}

.post-part-container.left-media .content-wrap > div:first-child {
  padding: 0px;
}

.post-part-container.has-content .content-wrap > .lyt .cxb {
  width: 100%;
}

.post-part-container .content-wrap .lyt {
  vertical-align: middle;
  display: inline-block;
}

.post-part-container .post-part-media.video {
  padding: 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.post-part-container .post-part-media.video .mgb {
  display: inline-block;
}

.post-part-container .post-part-media.video .mgb video::cue {
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
  text-shadow: 1px 1px 0px #000000, 0px 0px 0px #444444;
  background: transparent;
}

.post-part-container .post-part-media.video .mgb video {
  max-width: 100% !important;
  height: auto;
  width: 100% !important;
  max-height: 500px;
  min-width: 320px;
}

.post-part-container .post-part-media.video .mgb video:focus {
  outline: 0;
  outline: none;
}

.post-part-container .post-part-media.video .mgb figure {
  background-color: #000000;
}

.basic-part {
  position: relative;
}

.basic-part .post-part-block-content {
  padding: 40px 0px;
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.63636;
}

.basic-part .post-part-block-content p {
  margin-bottom: 20px;
}

.fullwidth-image-part {
  color: #ffffff;
}

.fullwidth-image-part h1, .fullwidth-image-part h2, .fullwidth-image-part h3, .fullwidth-image-part h4, .fullwidth-image-part h5, .fullwidth-image-part h6, .fullwidth-image-part cite {
  color: #ffffff;
}

.fullwidth-image-part cite {
  opacity: 0.8;
  font-size: 1.8rem;
}

.fullwidth-image-part .post-part-block-content {
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 1.11765;
  text-shadow: 1px 1px 0px #000000, 0px 0px 0px #444444;
  padding: 40px 0px;
}

.fullwidth-image-part .post-part-block-content.text-align-left {
  text-align: left;
}

.fullwidth-image-part .post-part-block-content.text-align-right {
  text-align: right;
}

.fullwidth-image-part .post-part-block-content.text-align-center {
  text-align: center;
}

.fullwidth-image-part .post-part-block-content .has-text-align-right {
  text-align: right;
}

.fullwidth-image-part .post-part-block-content .has-text-align-left {
  text-align: left;
}

.fullwidth-image-part .post-part-block-content .has-text-align-center {
  text-align: center;
}

.fullwidth-image-part .has-video.post-part-block-background {
  background-color: #000000;
}

.fullwidth-image-part .has-video video {
  opacity: 0.8;
}

.fullwidth-image-part .has-video.post-part-container {
  min-height: 320px;
}

.post-footer {
  margin-top: 40px;
  position: relative;
  display: block;
}

.post-footer .post-meta-edit-link-wrapper {
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4;
}

.post-footer .author-bio {
  padding: 20px 0px;
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4;
}

.post-meta-single-top {
  padding: 20px 0px;
  font-family: Tahoma,'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.44444;
}

.post-meta-single-top a {
  text-decoration: none;
  font-weight: 400;
}

.pagination-single {
  position: relative;
  display: block;
  clear: both;
}

.pagination-single a {
  text-decoration: none;
}

.pagination-single .previous-post, .pagination-single .next-post {
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.18182;
}

.single article.post {
  padding-bottom: 40px;
}

.post-list-archive {
  position: relative;
  padding-bottom: 40px;
}

.post-list-archive .post, .post-list-archive .type-page, .post-list-archive .hentry, .post-list-archive > article {
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-list-archive .post .content-wrap .lyt, .post-list-archive .type-page .content-wrap .lyt, .post-list-archive .hentry .content-wrap .lyt, .post-list-archive > article .content-wrap .lyt {
  vertical-align: top;
}

.post-list-archive .post .content-wrap .archive-image, .post-list-archive .type-page .content-wrap .archive-image, .post-list-archive .hentry .content-wrap .archive-image, .post-list-archive > article .content-wrap .archive-image {
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-list-archive .post .content-wrap .archive-image IMG, .post-list-archive .type-page .content-wrap .archive-image IMG, .post-list-archive .hentry .content-wrap .archive-image IMG, .post-list-archive > article .content-wrap .archive-image IMG {
  max-width: 100%;
  height: auto;
}

.post-list-archive .post .content-wrap .archive-image .no-image, .post-list-archive .type-page .content-wrap .archive-image .no-image, .post-list-archive .hentry .content-wrap .archive-image .no-image, .post-list-archive > article .content-wrap .archive-image .no-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 240px;
  max-width: 500px;
  background-repeat: no-repeat;
  opacity: 0.4;
  background-color: #e2e3e2;
  background-size: 80% auto;
  background-position: center;
  position: relative;
}

.post-list-archive .post .content-wrap .archive-image .no-image span, .post-list-archive .type-page .content-wrap .archive-image .no-image span, .post-list-archive .hentry .content-wrap .archive-image .no-image span, .post-list-archive > article .content-wrap .archive-image .no-image span {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  left: 0;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  text-transform: uppercase;
  color: #555555;
}

.post-list-archive .post .content-wrap .archive-image .mgb, .post-list-archive .type-page .content-wrap .archive-image .mgb, .post-list-archive .hentry .content-wrap .archive-image .mgb, .post-list-archive > article .content-wrap .archive-image .mgb {
  width: 100%;
  text-align: center;
}

.post-list-archive .post .content-wrap .archive-content .txb, .post-list-archive .type-page .content-wrap .archive-content .txb, .post-list-archive .hentry .content-wrap .archive-content .txb, .post-list-archive > article .content-wrap .archive-content .txb {
  padding-top: 30px;
  padding-bottom: 20px;
}

.post-list-archive .post .content-wrap .archive-content .txb .type, .post-list-archive .type-page .content-wrap .archive-content .txb .type, .post-list-archive .hentry .content-wrap .archive-content .txb .type, .post-list-archive > article .content-wrap .archive-content .txb .type {
  display: block;
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.44444;
  letter-spacing: 0.1234rem;
  text-transform: uppercase;
}

.post-list-archive .post .content-wrap > div:first-child, .post-list-archive .type-page .content-wrap > div:first-child, .post-list-archive .hentry .content-wrap > div:first-child, .post-list-archive > article .content-wrap > div:first-child {
  padding: 0px;
}

.post-list-archive .post .post-excerpt, .post-list-archive .type-page .post-excerpt, .post-list-archive .hentry .post-excerpt, .post-list-archive > article .post-excerpt {
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.63636;
}

.post-list-archive .post .post-excerpt .has-text-align-right, .post-list-archive .type-page .post-excerpt .has-text-align-right, .post-list-archive .hentry .post-excerpt .has-text-align-right, .post-list-archive > article .post-excerpt .has-text-align-right {
  text-align: right;
}

.post-list-archive .post .post-excerpt .has-text-align-left, .post-list-archive .type-page .post-excerpt .has-text-align-left, .post-list-archive .hentry .post-excerpt .has-text-align-left, .post-list-archive > article .post-excerpt .has-text-align-left {
  text-align: left;
}

.post-list-archive .post .post-excerpt .has-text-align-center, .post-list-archive .type-page .post-excerpt .has-text-align-center, .post-list-archive .hentry .post-excerpt .has-text-align-center, .post-list-archive > article .post-excerpt .has-text-align-center {
  text-align: center;
}

.post-list-archive .post .entry-title, .post-list-archive .type-page .entry-title, .post-list-archive .hentry .entry-title, .post-list-archive > article .entry-title {
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.16667;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.post-list-archive .post .entry-title a, .post-list-archive .type-page .entry-title a, .post-list-archive .hentry .entry-title a, .post-list-archive > article .entry-title a {
  text-decoration: none;
}

.post-list-archive .post .archive-image, .post-list-archive .type-page .archive-image, .post-list-archive .hentry .archive-image, .post-list-archive > article .archive-image {
  text-align: center;
}

.post-list-archive .post .archive-image IMG, .post-list-archive .type-page .archive-image IMG, .post-list-archive .hentry .archive-image IMG, .post-list-archive > article .archive-image IMG {
  max-width: 100%;
}

.archive-header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.16667;
}

.archive-header .archive-subtitle {
  padding-top: 10px;
  max-width: 90%;
  margin: 0 auto;
}

.pagination-wrapper {
  text-align: center;
  padding-bottom: 40px;
}

.pagination-wrapper .nav-links {
  font-family: Tahoma, 'Trebuchet MS', 'Montserrat', Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
  color: inherit;
}

.pagination-wrapper .nav-links a {
  color: inherit;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
}

.pagination-wrapper .nav-links .current {
  opacity: 0.8;
}

.pagination-wrapper .nav-links .prev > span:nth-child(1), .pagination-wrapper .nav-links .next > span:nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
}

.pagination-wrapper a {
  text-decoration: none;
}

.no-search-results-form {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.error404-content.section-inner, .no-search-results-form, .no-search-results-form.section-inner, .post-content-list-container > *:not(section):not(.content-wrap), #footerWrapper .content-wrap {
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.77778;
}

.post-content-list-container > form {
  max-width: 800px;
}

.post-content-list-container .woocommerce {
  max-width: 1200px;
}

.schema-markup, .schema-meta-header {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

#contentWrapper.constrain-image-blocks .post-part-container.left-media .content-wrap > div:first-child, #contentWrapper.constrain-image-blocks .post-part-container.right-media .content-wrap > div:last-child {
  padding-left: 20px;
  padding-right: 20px;
}

#contentWrapper.constrain-image-blocks .post-list-archive .content-wrap > div:first-child {
  padding-left: 20px;
  padding-right: 20px;
}

#contentWrapper.has-section-padding-none {
  position: relative;
}

#contentWrapper.has-section-padding-tight .post-part-container.left-media {
  padding-top: 20px;
}

#contentWrapper.has-section-padding-tight .post-part-container.right-media {
  padding-bottom: 20px;
}

#contentWrapper.has-section-padding-medium .post-part-container.left-media {
  padding-top: 30px;
}

#contentWrapper.has-section-padding-medium .post-part-container.right-media {
  padding-bottom: 30px;
}

#contentWrapper.has-section-padding-spacious .post-part-container.left-media {
  padding-top: 45px;
}

#contentWrapper.has-section-padding-spacious .post-part-container.right-media {
  padding-bottom: 45px;
}
/*# sourceMappingURL=post.css.map */